In [157]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Importing Data

In [225]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_e19b6e3de5ce467c9b98c76b4fddde9e = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='GPZYgeviAbCmG1H7S8-IJtnqC-YGwjsGovNAXIBNjNLn',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_e19b6e3de5ce467c9b98c76b4fddde9e.get_object(Bucket='courseracapstoneassessment-donotdelete-pr-apwbrlq5dtxdtl',Key='Toronto_Neighborhoods.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df= pd.read_csv(body)
df.head()

  Postcode           Borough     Neighbourhood
0  M1A      Not assigned      Not assigned
1  M2A      Not assigned      Not assigned
2  M3A      North York        Parkwoods
3  M4A      North York        Victoria Village
4  M5A      Downtown Toronto  Harbourfront

### Analyzing the count ratio, 26% of the data contain 'Not assigned' which is basically NaN for us

In [226]:
NaN_Ratio = ((df[df['Borough'] =='Not assigned'].count())/df.count())*100
NaN_Ratio

Postcode         26.736111
Borough          26.736111
Neighbourhood    26.736111
dtype: float64

### Converting the 'Not assigned' to NaN and Dropping NaN values and sorting values as per 'Neighbourhood' also setting 'Queen's Park' in neighbourhood as per requirement.

In [227]:
df = df[df['Borough']!='Not assigned']
df.dropna(axis = 0, inplace = True)
df.sort_values(by='Neighbourhood', inplace = True)

In [228]:
df[df['Borough'] == "Queen's Park"]

  Postcode       Borough Neighbourhood
8  M7A      Queen's Park  Not assigned

In [229]:
df['Neighbourhood'] = df['Neighbourhood'].replace('Not assigned',"Queen's Park")

In [230]:
df[df['Borough'] == "Queen's Park"]

  Postcode       Borough Neighbourhood
8  M7A      Queen's Park  Queen's Park

In [231]:
#Checking if NaN exists now in Data
df.isna().sum()

Postcode         0
Borough          0
Neighbourhood    0
dtype: int64

### Assigning Postcode variable as an Index to this DataFrame

In [232]:
postcode = pd.DataFrame(df['Postcode'])
df.drop(['Postcode'],axis = 1,inplace = True)
df.set_index(postcode['Postcode'],inplace = True)
df.head()

                   Borough    Neighbourhood
Postcode
M5H       Downtown Toronto  Adelaide
M1S       Scarborough       Agincourt
M1V       Scarborough       Agincourt North
M9V       Etobicoke         Albion Gardens
M8W       Etobicoke         Alderwood

In [234]:
df.shape

(211, 2)